body {
    background-color: bisque;
    font-family: bai jamuree;
}

#container {
    display: flex;
}

.cartao {
    margin: 1rem 1rem;
    background-color: aqua;
    height: 20 rem;
    flex-grow: 1;
    flex basis: calc(33%-6 rem);

}

.cartao_conteudo {
    text-align: center;
    height: 100%;
}
.cartao_conteudo h3 {
    background-color: tomato;
    text-align: left;
    padding: 0.5rem;
    position: absolute;
    margin: 0.6rem;
    border-radius:0.6rem;
    font-size: 1ww;
}
.cartao_conteudo p{
    margin: top 1rem;
    padding: 2.0;
}
footer {background-color: black;
    color:white;
    position: fixed;
    botom:0;
    width: 100%;
    height: 2.0;
}
footer p{
    text-align:center;
    font-size: 0.6;
    margin-top:0.5rem;
}
:croot{
        --text-color#DBE4E;
    --card-front-color:#144480;
    --card-back-color:#00f4BF;
}
.cartao_conteudo_pegunta p{
    color:var(--text-color);
    font-weight: 500;
}
.cartao_conteudo_resposta p{
    color:var(--card-back-color);
    font-weight: 700;

.cartao_conteudo_pegunta
.cartao_conteudo_resposta
backface-visibility:hidden;
position:absolute;
height:100%;
width:100%;
}
.cartao_conteudo_resposta{
    transform: rotateY('180deg');
}
